{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true
}
