.Skeleton {
  width: 100%;
  height: 50px;
  position: relative;
  box-shadow: 0 2px 10px 0 var(--skeleton-shadow);
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 80%;
    background: linear-gradient(to right, transparent 0%, var(--skeleton-color) 50%, transparent 100%);
    animation: loading 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@keyframes loading {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}
