.app_orange_theme {
  --bg-color: #faf4fb;
  --inverted-bg-color: #db5012;
  --primary-color: #9a1a0e;
  --secondary-color: #d01f0e;
  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #faf4fb;

  // Skeleton
  --skeleton-color: #ffffff;
  --skeleton-shadow: rgba(0, 0, 0, 0.2);

  //code
  --code-bg: #fff;
}
